<div>
  {{ range .Alerts }}
    {{ if .Level == 0}}
       <div class="alert alert-primary alert-dismissible fade show">
         <button class="close" type="button">
           <span aria-hidden="true"></span>
         </button>
       </div>
     {{ end }}
     {{if .Level == 1}}<div class="alert alert-secondary alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{end}}
     {{if .Level == 2}}<div class="alert alert-info alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{end}}
     {{if .Level == 3}}<div class="alert alert-succes alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{end}}
     {{if .Level == 4}}<div class="alert alert-warning alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{end}}
     {{if .Level == 5}}<div class="alert alert-danger alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{end}}
     {{if .Level == 6}}<div class="alert alert-light alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{end}}
     {{if .Level == 7}}<div class="alert alert-dark alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{end}}
  {{ end }}
</div>
