<html>
  <head>
    {{ template "cdn"}}
    {{ template "meta"}}
    <title>{{ .WikiPage.Title }}</title>
  </head>
  <body>
    <div class="container">
      <br>{{ template "alerts" . }}
      <h1>Editing {{ .WikiPage.Title }}</h1>
      <hr>
      <form action="/save/{{.WikiPage.Title}}" method="POST">
        <div class="form-group"><textarea class="form-control" name="body" rows="20" cols="80">{{ printf "%s" .WikiPage.Body }}</textarea></div>
        <div class="form-group"><input class="form-control btn btn-primary" type="submit" value="Save"></div>
      </form>
    </div>
  </body>
</html>
