<!DOCTYPE HTML>
<html>
  <head>
    {{ template "cdn" }}
    {{ template "meta" }}
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <br>{{ template "alerts" . }}
      <h1>Login</h1><hr>
      <form action="" method="POST" class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Username" required><br>
        <input class="form-control" type="password" name="password" placeholder="Password" required><br>
        <input class="form-control btn btn-primary" type="submit" name="submit" value="Login"><br>
      </form>
    </div>
  </body>
</html>
